---
layout: default
title: Statystyki
permalink: /stats
---

<p>
Liczba szczepionek
</p>
<table id="table-count" class="stripe dt-body-right">
    <thead>
        <tr>
            <th>Województwo</th>
            <th>Pfizer</th>
            <th>Moderna</th>
            <th>J&amp;J</th>
            <th>AstraZeneca</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
{% include stats/count/dolnoslaskie.html %}
{% include stats/count/kujawsko_pomorskie.html %}
{% include stats/count/lubelskie.html %}
{% include stats/count/lubuskie.html %}
{% include stats/count/lodzkie.html %}
{% include stats/count/malopolskie.html %}
{% include stats/count/mazowieckie.html %}
{% include stats/count/opolskie.html %}
{% include stats/count/podkarpackie.html %}
{% include stats/count/podlaskie.html %}
{% include stats/count/pomorskie.html %}
{% include stats/count/slaskie.html %}
{% include stats/count/swietokrzyskie.html %}
{% include stats/count/warminsko_mazurskie.html %}
{% include stats/count/wielkopolskie.html %}
{% include stats/count/zachodniopomorskie.html %}
    </tbody>

</table>
<br/>
<hr/>
<br/>

<p>
Najwcześniejszy termin.
</p>
<table id="table-date" class="stripe dt-right">
    <thead>
        <tr>
            <th>Województwo</th>
            <th>Pfizer</th>
            <th>Moderna</th>
            <th>J&amp;J</th>
            <th>AstraZeneca</th>
            <th>Wszystkie</th>
        </tr>
    </thead>
    <tbody>
{% include stats/date/dolnoslaskie.html %}
{% include stats/date/kujawsko_pomorskie.html %}
{% include stats/date/lubelskie.html %}
{% include stats/date/lubuskie.html %}
{% include stats/date/lodzkie.html %}
{% include stats/date/malopolskie.html %}
{% include stats/date/mazowieckie.html %}
{% include stats/date/opolskie.html %}
{% include stats/date/podkarpackie.html %}
{% include stats/date/podlaskie.html %}
{% include stats/date/pomorskie.html %}
{% include stats/date/slaskie.html %}
{% include stats/date/swietokrzyskie.html %}
{% include stats/date/warminsko_mazurskie.html %}
{% include stats/date/wielkopolskie.html %}
{% include stats/date/zachodniopomorskie.html %}
    </tbody>

</table>



<script type="text/javascript">

    $(document).ready( function() {
        $('#table-count').DataTable(
            {
                "paging":   false,
                "ordering": true,
                "info":     false,
                "language": {
                    "url": "/assets/datatables.polish.json"
                },
                order: [[ 5, "desc" ]],
                responsive: true, 
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 1,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 2,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 4,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right'
                    }
                ]
            }
        );
        $('#table-date').DataTable(
            {
                "paging":   false,
                "ordering": true,
                "info":     false,
                "language": {
                    "url": "/assets/datatables.polish.json"
                },
                order: [[ 5, "desc" ]],
                responsive: true,
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 1,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 2,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 4,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right'
                    }
                ]
            }
        );
    });
</script>
