---
layout: default
title: Statystyki
permalink: /stats
---

<h2>Liczba szczepionek</h2>
<table id="table-count" class="stripe dt-body-right">
    <thead>
        <tr>
            <th>Województwo</th>
            <th>Pfizer</th>
            <th>Moderna</th>
            <th>J&amp;J</th>
            <th>AstraZeneca</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
{% include stats/count/dolnoslaskie.html %}
{% include stats/count/kujawsko_pomorskie.html %}
{% include stats/count/lubelskie.html %}
{% include stats/count/lubuskie.html %}
{% include stats/count/lodzkie.html %}
{% include stats/count/malopolskie.html %}
{% include stats/count/mazowieckie.html %}
{% include stats/count/opolskie.html %}
{% include stats/count/podkarpackie.html %}
{% include stats/count/podlaskie.html %}
{% include stats/count/pomorskie.html %}
{% include stats/count/slaskie.html %}
{% include stats/count/swietokrzyskie.html %}
{% include stats/count/warminsko_mazurskie.html %}
{% include stats/count/wielkopolskie.html %}
{% include stats/count/zachodniopomorskie.html %}
    </tbody>
	<tfoot align="right">
		<tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	</tfoot>
</table>
<br/>
<br/>
<br/>

<h2>Najwcześniejszy termin</h2>
<table id="table-date" class="stripe dt-right">
    <thead>
        <tr>
            <th>Województwo</th>
            <th>Pfizer</th>
            <th>Moderna</th>
            <th>J&amp;J</th>
            <th>AstraZeneca</th>
            <th>Wszystkie</th>
        </tr>
    </thead>
    <tbody>
{% include stats/dates/dolnoslaskie.html %}
{% include stats/dates/kujawsko_pomorskie.html %}
{% include stats/dates/lubelskie.html %}
{% include stats/dates/lubuskie.html %}
{% include stats/dates/lodzkie.html %}
{% include stats/dates/malopolskie.html %}
{% include stats/dates/mazowieckie.html %}
{% include stats/dates/opolskie.html %}
{% include stats/dates/podkarpackie.html %}
{% include stats/dates/podlaskie.html %}
{% include stats/dates/pomorskie.html %}
{% include stats/dates/slaskie.html %}
{% include stats/dates/swietokrzyskie.html %}
{% include stats/dates/warminsko_mazurskie.html %}
{% include stats/dates/wielkopolskie.html %}
{% include stats/dates/zachodniopomorskie.html %}
    </tbody>

</table>



<script type="text/javascript">

    $(document).ready( function() {
        $('#table-count').DataTable(
            {
                "paging":   false,
                "ordering": true,
                "info":     false,
                "bFilter": false,
                "language": {
                    "url": "/assets/datatables.polish.json"
                },
                order: [[ 5, "desc" ]],
                responsive: true, 
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 1,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 2,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 4,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right'
                    }
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                        i : 0;
                    };

                    // computing column Total of the complete result 
                    var pTotal = api
                    .column(1)
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                    var mTotal = api
                    .column( 2 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                    var jTotal = api
                    .column( 3 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                    var aTotal = api
                    .column( 4 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                    var tTotal = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );


                    // Update footer by showing the total with the reference of the column index 
                    $(api.column(0).footer()).html('Suma');
                    $(api.column(1).footer()).html(pTotal);
                    $(api.column(2).footer()).html(mTotal);
                    $(api.column(3).footer()).html(jTotal);
                    $(api.column(4).footer()).html(aTotal);
                    $(api.column(5).footer()).html(tTotal);
                }
            }
        );
        $('#table-date').DataTable(
            {
                "paging":   false,
                "ordering": true,
                "info":     false,
                "bFilter": false,
                "language": {
                    "url": "/assets/datatables.polish.json"
                },
                order: [[ 5, "asc" ]],
                responsive: true,
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 1,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 2,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 4,
                        className: 'dt-body-right'
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right'
                    }
                ]
            }
        );
    });
</script>
