<header class="site-header" role="banner">
<script type="text/javascript">
    $(document).ready( function () {
        $("time.timeago").timeago();
        $('#szczepienia').DataTable( {
            "paging":   false,
            "ordering": true,
            "info":     false,
            "fixedColumns": true,
            "language": {
                "url": "/assets/datatables.polish.json"
        },
            order: [[ 1, "asc" ]],
            responsive: true,
            dom: 'Plfrtip',
            searchPanes: {
                hideCount: true,
                cascadePanes: true,
                columns: [0,3]
            },
            columnDefs: [
                {
                    searchPanes: {
                        show: true
                    },
                    targets: [0]
                },
                {
                    searchPanes: {
                        show: false 
                    },
                    targets: [1]
                },
                {
                    searchPanes: {
                        show: false 
                    },
                    targets: [2]
                },
                {
                    searchPanes: {
                        show: true 
                    },
                    targets: [3]
                },
                {
                    width: 282,
                    searchPanes: {
                        show: false
                    },
                    targets: [4]
                },
                {
                    searchPanes: {
                        show: false
                    },
                    targets: [5]
                },
            ]
        } );
    } );
    if (window.location.href.substr((location.href).lastIndexOf('/')) == "/).") {
        window.location.href = "/";
    }
</script>

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
</div>
</header>

