---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title::before {
    content: url("/assets/logo.png");
    display: inline-block;
    position: relative;
    width: 35px;
    top: 10px;
    left: -5px;
}
