---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1000px;

.toggle-times {
    cursor: pointer;
    padding-left: 16px;
}

.toggle-times::after {
    color: #7a80dd;
    content: " ▼";
}

.bug {
  width: 100%;
  text-align: right;
  margin-bottom: 4px;
  margin-top: -10px;
  font-size: 60%;
}

.site-title::before {
    /*
    content: image-set(
        url("/assets/logo.png") 1x,
        url("/assets/logo-70.png") 2x,
        url("/assets/logo-105.png") 3x,
        url("/assets/logo-140.png") 4x,
        url("/assets/logo-175.png") 5x,
        url("/assets/logo-280.png") 8x
    );
    */
    background-image: url("/assets/logo-140.png");
    background-size: 35px 35px;
//    content: url("/assets/logo-140.png");
    display: inline-block;
    position: relative;
    width: 35px;
    height:35px;
    top: 10px;
    left: -5px;
    content:"";
}

hr {
    color: gray;
    margin-left: 25% !important;
    width: 50%;
    border: 1px dashed rgb(64, 64, 64);
}

td.times {
    margin-top:5%;
    margin-bottom:5%;
    line-height: 110%;
}

td.address {
    width: 25% !important;
    word-wrap: break-word;
    line-height: 110%;
}

.slot-count{
  font-size: 80%;
  width: 100%;
  padding-bottom: 14px;
} 

.point-description {
    width: 100%;
    font-size: 70%;
}

.point-address {
    width: 100%;
}

@import "minima";
