---
layout: default
---
{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}
<div class="home">
    <p>Ostatnia aktualizacja: <strong><time class="timeago" datetime="{{ site.time | date: "%Y-%m-%dT%H:%M:%S%z"}}">{{ site.time | date: "%Y-%m-%d %H:%M"}}</time></strong></p>

    <p>
    <strong>
        Ze względu na bardzo duże zainteresowanie i znaczne obciążenie serwera muszę się ograniczyć do wyszukiwania terminów tylko
        w większych miejscowościach.
    </strong>
    </p>

    <p>
    <strong>
        Mniejsze miejscowości nadal mogą się pojawić, jeśli najwcześniejsze terminy w danym województwie są w takich miejscach - dzieje się to z automatu.
    </strong>
    </p>

    {% include news.html %}

    <p>
    Pomoc przy wyszukiwaniu wolnych terminów na szczepienia przeciw COVID-19 w Polsce.
    </p>
    <p>
    Masz babcię/dziadka/matkę/ojca/wujka/ciocię która termin szczepienia ma usalony na czerwiec?
    Albo jest wpisana/y "w zeszycie" w lokalnej przychodni?
    </p>

    <p>
    <strong>Wybierz województwona mapie</strong> poniżej aby przejść do listy terminów z danego województwa.
    </p>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <object data="/assets/wojewodztwa.svg" type="image/svg+xml" width="100%"></object>

        {{ content }}

        <p>Terminy listowana na stronach są to jedne z wielu dostępnych, niestety wyszukiwanie na erejestracji pokazuje tylko pierwsze dostępne terminy danego dnia w danym ośrodku (czasami więcej, nie wiem jaki jest algorytm).</p>

        <p>Instrukcja jak dostać termin wylistowany na stronach, masz trzy opcje:</p>

        <ol>
            <li> <a href="https://pacjent.erejestracja.ezdrowie.gov.pl/">Profil zaufany</a>  - najprostsze i najszybsze (można założyć tymczasowy profil zaufany ważny 3 miesiące, można to zrobić online, potrzebna jest kamerka - urzędnik będzie dzwonił, trzeba będzie mu pokazać dowód osobisty i siebie), oprócz tego można logować sie też nowym dowodem (tym z PINem) lub mojeID.</li>

            <li> Dzwonisz na 989 i prosisz konsultanta o termin pod podanym adresem (może być potrzebny kod pocztowy).</li>

            <li> Wchodzisz na <a href="https://www.gov.pl/web/szczepimysie/mapa-punktow-szczepien#/">mapę punktów szczepień</a> znajdujesz punkt szczepień po adresie, dzwonisz na podany numer telefonu.</li>
            <ol>

                <p>Info które nie było podane w mediach: <strong>Pfizer i Moderna jest dostępny dla wszystkich (od 1 kwietnia) którzy mają skierowanie</strong></p>

                <p>Skierowania są wydawane automatycznie, 1 kwietnia skierowania dostały osoby 40+, 50+ które wyraziły chęć szczepienia w styczniu-marcu na specjalnej stronie (już niedostępnej).</p>

                <p>Możesz sprawdzić czy masz skierowanie za pomocą <a href="https://pacjent.erejestracja.ezdrowie.gov.pl/">erejestracji</a></p>

                <strong>Masz rodziców umówionych na AstraZenece? Możesz ich przepisać na Pfizera/Modernę.</strong>

                <p>
                Dane na tej stronie są slotami zewnętrznymi (tj. dostępnymi dla każdego przez np. infolinię 989 lub erejestrację.
                </p>
                <p>
                Źródło danych: Strony erejestracji.
                </p>
<!--
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <h3><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></h3>
            {%- endif -%}
            {%- endfor -%}
            -->
</div>

<p>
Jeśli masz jakieś uwagi (ale błagam, nie prośby o dodanie miast, niestety nadal nie mogę więcej dodać ☹) to <a href="https://github.com/szczepienia/szczepienia.github.io/issues">zgłoś</a> (lub daj znać na <a href="https://twitter.com/krzyk">twitterze</a> lub na wykopie).
</p>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>
