---
layout: default
---
{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}
<div class="home">

    <p>
    Pomoc przy wyszukiwaniu wolnych terminów na szczepienia przeciw COVID-19 w Polsce.
    </p>
    <p>
    Masz babcię/dziadka/matkę/ojca/wójka/ciocię która termin szczepienia ma usalony na czerwiec?
    Albo jest wpisana/y "w zeszycie" w lokalnej przychodni?
    </p>

    <p>
    Skorzystaj z poniższych linków dla poszczególnych województw aby znaleźć wcześniejszy termin na szczepienie szczepionką którą preferujesz.
    </p>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <h3><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></h3>
            {%- endif -%}
          {%- endfor -%}
  {{ content }}

</div>


<script src="https://utteranc.es/client.js"
        repo="szczepienia/szczepienia.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>
