---
layout: default
---
{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}
<div class="home">
    <p>Ostatnia aktualizacja: <strong><time class="timeago" datetime="{{ site.time | date: "%Y-%m-%dT%H:%M:%S%z"}}">{{ site.time | date: "%Y-%m-%d %H:%M"}}</time></strong></p>

    <p>
    Pomoc przy wyszukiwaniu wolnych terminów na szczepienia przeciw COVID-19 w Polsce.
    </p>
    <p>
    Masz babcię/dziadka/matkę/ojca/wójka/ciocię która termin szczepienia ma usalony na czerwiec?
    Albo jest wpisana/y "w zeszycie" w lokalnej przychodni?
    </p>

    <p>
    Wybierz województwa na mapie poniżej aby przejść do listy terminów z danego województwa.
    </p>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <object data="/assets/wojewodztwa.svg" type="image/svg+xml" width="700px"/>

  <!--
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <h3><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></h3>
            {%- endif -%}
            {%- endfor -%}
    -->
  {{ content }}

</div>


<script src="https://utteranc.es/client.js"
        repo="szczepienia/szczepienia.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>
