---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% include news.html %}

  <p>
  Aby wybrać więcej niż jedno miasto i/lub szczepionkę proszę przytrzymać klawisz CTRL podczas klikania.
  </p>

  <p>
  Wyszukiwanie jest wykonywane na najbliższe <strong>4 tygodnie</strong> dla całego województwa (tutaj się mogą pojawiać mniejsze miejscowości) i dla poszczególnych miast wymienionych niżej. Jeśli nie ma terminów dla któregoś z niżej wymienionych miast tzn. że brak jest tam terminów przez najbliższe 2 tygodnie. Mogą się pojawić w godzinach porannych każdego dnia gdy punkty dodają terminy na podstawie potwierdzenia dostaw szczepionek.
  </p>

  <p>
  Jeśli chcesz zgłosić błąd w numerze telefonu proszę kliknij na 🐛 przy numerze telefonu (dzięki temu będę wiedział dokładnie który punkt ma błąd).
  </p>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<p>
Jeśli masz jakieś uwagi np. widzisz zły numer telefonu do danego punktu (ale błagam, nie prośby o dodanie miast, niestety nadal nie mogę więcej dodać ☹) to <a href="https://github.com/szczepienia/szczepienia.github.io/issues">zgłoś</a> (lub daj znać na <a href="https://twitter.com/krzyk">twitterze</a> lub na wykopie).
</p>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>
