---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% include news.html %}

  <p>
  Aby wybrać więcej niż jedno miasto i/lub szczepionkę proszę przytrzymać klawisz CTRL podczas klikania.
  </p>

  <p>
  Wyszukiwanie jest wykonywane na najbliższe <strong>2 tygodnie</strong> dla całego województwa (tutaj się mogą pojawiać mniejsze miejscowości) i dla poszczególnych miast wymienionych niżej. Jeśli nie ma terminów dla któregoś z niżej wymienionych miast tzn. że brak jest tam terminów przez najbliższe 2 tygodnie.
  </p>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<p>
Jeśli masz jakieś uwagi (ale błagam, nie prośby o dodanie miast, niestety nadal nie mogę więcej dodać ☹) to <a href="https://github.com/szczepienia/szczepienia.github.io/issues">zgłoś</a> (lub daj znać na <a href="https://twitter.com/krzyk">twitterze</a> lub na wykopie).
</p>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>
