---
layout: default
---

<script type="text/javascript">
    const url = new URL(window.location.href);
    const voi = document.title.substring(0, document.title.indexOf(' |')); // need to fix that
    var locations = {};
    var position;
    var table;
    var datatablesConfig = {
            deferRender: true,
            paging:   false,
            ordering: true,
            info:     false,
            language: {
                url: "/assets/datatables.polish.json"
            },
            order: [[ 1, "asc" ]],
            responsive: true,
            dom: 'Plfrtip',
            searchPanes: {
                layout: 'columns-5',
                hideCount: true,
                cascadePanes: true,
                columns: [0,3],
                dtOpts: {
                    select: {
                        style: 'multi'
                    }
                },
                panes: [
                    {
                        header: "Dzień",
                        options: [
                            { label: 'poniedziałek', value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "MONDAY"); } },
                            { label: 'wtorek',       value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "TUESDAY"); } },
                            { label: 'środa',        value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "WEDNESDAY"); } },
                            { label: 'czwartek',     value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "THURSDAY"); } },
                            { label: 'piątek',       value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "FRIDAY"); } },
                            { label: 'sobota',       value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "SATURDAY"); } },
                            { label: 'niedziela',    value: function(rowData, rowIdx) { return dayOfWeek(this, rowIdx, "SUNDAY"); } }
                    ],
                        dtOpts: {
                            searching: false,
                            columnDefs: [ {
                                targets: [0],
                                render: function (data, type) {
                                    if (type === 'sort') {
                                        const days = { 
                                            "poniedziałek": 1,
                                            "wtorek": 2,
                                            "środa": 3,
                                            "czwartek": 4,
                                            "piątek": 5,
                                            "sobota": 6,
                                            "niedziela": 7,
                                        };
                                        return days[data];
                                    }
                                    return data;
                                }
                            } ]
                        }
                    },
                    {
                        header: "# terminów",
                        options: [
                            { label: 'wszystkie', value: function(rowData, rowIdx) { return true; } },
                            { label: '> 4', value: function(rowData, rowIdx) { return this.row(rowIdx).node().dataset.slots >4;; } }
                        ],
                        preSelect: ['> 4'],
                        dtOpts: {
                            searching: false,
                            select:{
                                style: 'single',
                            },
                            order: [[1, 'asc']]
                        }
                    }
                ]
            },
            columnDefs: [
                {
                    searchPanes: {
                        show: true,
                        dtOpts: {
                            columnDefs: [ {
                                targets: [0],
                                render: function (data, type) {
                                    if (type === 'display') {
                                        if (data.indexOf('>') > -1) {
                                            return data.substring(data.indexOf('>') + 1).trim();
                                        }
                                        return data.trim();
                                    }
                                    return data;
                                }
                            } ]
                        }

                    },
                    targets: [0]
                },
                {
                    searchPanes: {
                        show: false 
                    },
                    targets: [1]
                },
                {
                    searchPanes: {
                        show: false 
                    },
                    targets: [2]
                },
                {
                    searchPanes: {
                        show: true
                    },
                    targets: [3]
                },
                {
                    searchPanes: {
                        show: false
                    },
                    targets: [4]
                },
                {
                    searchPanes: {
                        show: false
                    },
                    targets: [5]
                },
            ]
        };

    function distanceSmaller(other, rowIdx, dist) {
        if (!position) {
            return true;
        }
        const pointCoord = other.row(rowIdx).node().dataset;
        if (!pointCoord.lat) {
            return true;
        }
        return distanceInKm(pointCoord.lat, pointCoord.lon, position.latitude, position.longitude) <= dist;
    }

    function dayOfWeek(other, rowIdx, wantedDay) {
        const dow = other.row(rowIdx).node().dataset.dow;
        return wantedDay == dow;
    }

    const distancePaneName = 'Odległość do';
    const distancePane = {
                    header: distancePaneName,
                    options: [
                        {
                            label: ' 10 km',
                            value: function(rowData, rowIdx) {
                                return distanceSmaller(this, rowIdx, 10);
                            }
                        },
                        {
                            label: ' 25 km',
                            value: function(rowData, rowIdx) {
                                return distanceSmaller(this, rowIdx, 25);
                            }
                        },
                        {
                            label: ' 50 km',
                            value: function(rowData, rowIdx) {
                                return distanceSmaller(this, rowIdx, 50);
                            }
                        },
                        {
                            label: '100 km',
                            value: function(rowData, rowIdx) {
                                return distanceSmaller(this, rowIdx, 100);
                            }
                        }
                    ],
                    dtOpts: {
                        searching: false,
                        select:{
                            style: 'single',
                        },
                        order: [[1, 'asc']]
                    }
    };

    function initTable() {
        const city = url.searchParams.get('city');
        const vaccine = url.searchParams.get('vaccine');
        const search = url.searchParams.get('q');
        if (city) {
            const cities = city.split(',');
            console.log('found cites', cities);
            datatablesConfig.searchPanes.cascadePanes = false;
            datatablesConfig['columnDefs'][0].searchPanes.preSelect = cities;
        }
        if (vaccine) {
            const vaccines = vaccine.replace("&", "&amp;").split(',')
            console.log('found vaccines: ', vaccines);
            datatablesConfig.searchPanes.cascadePanes = false;
            datatablesConfig['columnDefs'][3].searchPanes.preSelect = vaccines;
        }
        if (search) {
            datatablesConfig.search = {
                "search" : search
            }
        }

        table = $('#szczepienia').DataTable(datatablesConfig);
    }

    function errorLocating(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function updateLocationCheck() {
        $('#location-check').attr("href", "https://www.google.com/maps/search/?api=1&query=" + position.latitude + "," + position.longitude);
        $('#location-check').show();
    }
    function located(pos) {
        position = pos.coords;
        updateLocationCheck();
        $('#location-change').show();
        $('#location').val(position.latitude + "," + position.longitude);
        console.log(`Position: https://www.google.com/maps/search/?api=1&query=${position.latitude},${position.longitude}`);
            console.log(`More or less ${position.accuracy} meters.`);
            //new $.fn.dataTable.SearchPanes(table, {});
            //table.searchPanes.container().prependTo(table.table().container());
            //table.searchPanes.resizePanes();
            //table.searchPanes.rebuildPane();
            showTableWithLocation();
    }

    function showTableWithLocation() {
        const distancePanceExists = datatablesConfig.searchPanes.panes.find(f => f.header == distancePaneName);
        if (!distancePanceExists) {
            datatablesConfig.searchPanes.panes.push(distancePane);
        }
        table.destroy();
        $('#szczepienia tr').each(function() {
            if (!position) {
                return;
            }
            const pointCoord = $(this).data();
            if (!pointCoord.lat) {
                return;
            }
            const distance = Math.round(distanceInKm(pointCoord.lat, pointCoord.lon, position.latitude, position.longitude));
            $(this).data('distance', distance);
            const td = $(this).find('td:first-child');
            const prevHtml = td.html();
            td.html(`(${distance} km)<br/>${prevHtml}`);
            td.attr('data-order', distance);
            td.attr('data-filter', prevHtml);
            datatablesConfig.order = [[ 0, "asc" ]];
        });

        initTable();
    }

    function degreesToRadians(degrees) {
        return degrees * Math.PI / 180;
    }

    function distanceInKm(lat1, lon1, lat2, lon2) {
        var earthRadiusKm = 6371;

        var dLat = degreesToRadians(lat2-lat1);
        var dLon = degreesToRadians(lon2-lon1);

        lat1 = degreesToRadians(lat1);
        lat2 = degreesToRadians(lat2);

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        return earthRadiusKm * c;
    }

    function ready() {
        $("#cities").autocomplete({
            source: function(request, response) {
                $.ajax({
                    dataType: "json",
                    type : 'Get',
                    //url: 'https://t1.kirela.com/cities.php',
                    url: url.origin + '/cities/' + voi + '.json',
                    //data: {
                    //    voi: voi,
                    //    term: request.term
                    //},
                    success: function(data) {
                        //$('input.suggest-user').removeClass('ui-autocomplete-loading');
                        // hide loading image

                        response(data);
                    },
                    error: function(data) {
                        //$('input.suggest-user').removeClass('ui-autocomplete-loading');
                    }
                });
            },
            minLength: 3,
            //select: function( event, ui ) {
            //    console.log( ui.item ?
            //        "Selected: " + ui.item.label :
            //    "Nothing selected, input was " + this.value);
            //},
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            },
            focus: function (event, ui) {
                event.preventDefault();
                $("#cities").val(ui.item.label);
            },
            select: function (event, ui) {
                event.preventDefault();
                //$("#projeKatmanRaporCbx").val(ui.item.value);
                const pos = ui.item.value.split(',')
                console.log("Postion found: ", pos);
                position = {
                    longitude: pos[0],
                    latitude: pos[1]
                }
                $("#cities").val(ui.item.label);
                showTableWithLocation();
            }
        });
        //$('.locate-me').hide();
        $('#location-check').hide();
        $('#location-change').show();
        $('#location-change').click(function() {
            var value = $('#location').val()
            if (value.indexOf(',') < 0) {
                alert("Wartość powinna być w postaci: 51.8880, 19.6418");
                return;
            }
            var splitted = $('#location').val().split(',');
            var lat = splitted[0].trim();
            var lon = splitted[1].trim();
            console.log("'" + lat + "'");
            console.log("'" + lon + "'");
            if (isNaN(lat) || isNaN(lon)) {
                alert("Wartość powinna być w postaci: 51.8880, 19.6418");
                return;
            }
            position = {
                latitude: lat,
                longitude: lon
            }
            updateLocationCheck();
            showTableWithLocation();
        });
        $('#cities-locator').hide();
        $('.locate-me').click(function() {
            navigator.geolocation.getCurrentPosition(located, errorLocating, {enableHighAccuracy: true});
        });

        $('#map').hide();
        $('.extended-times').hide();
        $('.toggle-times').click(function(){
            if ($(this).text().includes("+")) {
                $(this).text($(this).text().replace("+", "-"));
            } else {
                $(this).text($(this).text().replace("-", "+"));
            }
            $(this).parent().find('.extended-times').toggle("fast");

        })
        if ($("#nexttime").length) {
            var diff = new Date($("#nexttime").attr("datetime")) - new Date();
            if (diff > 0) {
                setTimeout(
                    function(){
                        location.reload();
                    },
                    diff + 5000
                );
            }
            }

            jQuery.timeago.settings.allowFuture = true;
            //jQuery.timeago.settings.cutoff = 1000*60;
            $("time.timeago").timeago();

        initTable();


        const showMap = url.searchParams.get('showMap');
        if (showMap === "true") {
            const lon = $('#szczepienia').data('lon');
            const lat = $('#szczepienia').data('lat');
            $('#map').show();
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([lon, lat]),
                    zoom: 8
                })
            });
         }
         $('#szczepienia tbody').on('click', '.data-989', function(e) {
             e.preventDefault();
             let tr = $(e.target).closest("tr");
             if (!tr.data('searchHourFrom')) {
                tr = tr.prev();
             }

             const slotTime = tr.data('searchSlotTime');
             const place = tr.data('place');

             const dateFrom = tr.data('searchDateFrom');
             const dateTo = tr.data('searchDateTo');
             const voivodeship = tr.data('searchVoivodeship');
             const city = tr.data('searchCity');
             const vaccines = tr.data('searchVaccines');
             const hourFrom = tr.data('searchHourFrom');
             const hourTo = tr.data('searchHourTo');


             const ALL = "Wszystkie";
             const startHour = Number.parseInt(hourFrom.split(":")[0]);
             const endHour = Number.parseInt(hourTo.split(":")[0]);
             const slotHour = Number.parseInt(slotTime.split(":")[0]);
             let ranges = [
                 { from: 0, to:8 , text: ALL},
                 { from: 8, to: 12, text: "8:00 - 12:00"},
                 { from: 12, to: 16, text: "12:00 - 16:00"},
                 { from: 16, to: 20, text: "16:00 - 20:00"},
                 { from: 20, to: 24, text: "20:00 - 23:59"}
             ];

             let hours = "";
             if (startHour == 0 && endHour == 23) {
                 hours = ALL;
             } else {
                 for (const el of ranges) {
                     if (slotHour >= el.from && slotHour < el.to) {
                         hours = el.text;
                     }
                 }
             }

             //if (startHour >= 0 && startHour < 8 && hourTo >= 21) {
             //   hours = "Wszystkie";
             //} else if (startHour >= 8 && startHour < 12 && slotTime < 12) {
             //    hours = "8:00 - 12:00";
             //} else if (startHour >= 12 && startHour < 16 && slotTime < 16) {
             //    hours = "12:00 - 16:00";
             //} else if (startHour >= 16 && startHour < 20 && slotTime < 20) {
             //    hours = "16:00 - 20:00";
             //} else if (startHour >= 20 && startHour <= 23) {
             //    hours = "20:00 - 23:59";
             //} else {
             //    hours = "";
             //}

             let descr = `Województwo: <strong>${voivodeship}</strong> <br/>`;
             if (city) {
                 descr += `Miejscowość: <strong>${city}</strong> <br/>`;
             } else {
                 descr += `Miejscowość: <strong>${place}</strong> (gdy nie zadziała to bez wpisywania miejscowości) <br/>`;
             }
             descr +=
                 `
                 Data wizyty od: <strong>${dateFrom}</strong> <br/>
                 Data wizyty do: <strong>${dateTo}</strong> <br/>
                 Typ szczepionki: <strong>${vaccines}</strong> <br/>
                 Preferowane godziny: <strong>${hours}</strong> <span class="real-hours">(${hourFrom} - ${hourTo})</span> <br/>
                 `;
             $('#dialogText').html(descr);
             $("#dialog").dialog({
                 modal: true,
                 width: 380
             });
             return false;
        });
    };

    $(document).ready(ready);
    $(document).on('resize', ready);

    if (window.location.href.substr((location.href).lastIndexOf('/')) == "/).") {
        window.location.href = "/";
    }
</script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% include news.html %}

  <p>
  Wyszukiwanie jest wykonywane na najbliższe <strong>4 tygodnie</strong> dla całego województwa (tutaj się mogą pojawiać mniejsze miejscowości) i dla poszczególnych miast wymienionych niżej. Jeśli nie ma terminów dla któregoś z niżej wymienionych miast tzn. że brak jest tam terminów na chwilę obecną. 
  </p>


  <p>
  Numery telefonu ogólne dla każdej placówki:
  <ul>
      <li><a href="tel:989">989</a></li>
      <li>Poza granicami Polski: <a href="tel:+48226262989,">+48 226 262 989</a></li>
  </ul>
  </p>

  <div id="map" class="map"></div>

  <div class="location-settings">
      <p>
      Filtrowanie za pomocą odległości? Zlokalizuj się za pomocą przycisku: <span class="locate-me">⌖</span>
      </p>
      <p>
      Albo wpisz lokalizację (szerokość, długość geograficzna): <input id="location-change" type="button" value="Aktualizuj"/><input id="location" type="text" placeholder="52.217, 21.033" pattern="[0-9]+(.[0-9.]+)?, *[0-9]+(.[0-9.]+)?"/>&nbsp;<a id="location-check" href="#" target="_blank">Sprawdź</a>
  </p>
  <span id="cities-locator" class="ui-widget">
      <label for="cities">Wybierz miasto: </label>
      <input id="cities">
  </span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

</article>

<p>
Jeśli masz jakieś uwagi, np. widzisz zły numer telefonu do danego punktu, to zgłoś klikając na link "Błąd?" przy numerach telefonów - w ten sposób będę dokładnie wiedział, którego punktu dotyczy zgłoszenie.
</p>

<img src="https://t1.kirela.com/pixel.php?{{ page.url }}"/>

<div id="dialog" title="Szczegóły dla infolinii 989">
    <div id="dialogText"></div>
</div>
